.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.rodapePrincipal-contatoForm {
   width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
   display: flex;
}

.rodapePrincipal-navMap-list {
   display: flex;
  /*flex-direction: column;*/
   /*flex-wrap: wrap;*/
   flex-flow: column wrap;
   height: 250px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 20%;
}

/*parte mobile*/
@media(max-width: 768px) {
    .cabecalhoPrincipal .container{
        flex-direction:column;
    }
    .cabecalhoPrincipal .container{
        flex-direction:column;  
        align-items: initial;
      }
      .cabecalhoPrincipal .container{
        flex-direction: column;  
        align-items: initial;
        text-align: center;
      }
      .cabecalhoPrincipal-nav{
        flex-direction: column;
      }
    .conteudoPrincipal-cursos-link {
        width:100%;
    }
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }
    
    .conteudoPrincipal-cursos-link {
        width:100%;
    }
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    
    }
    .rodapePrincipal-contatoForm-fieldset {
        justify-content:center
    }
}